<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net452" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net452" />
  <package id="ExcelDataReader" version="3.3.0" targetFramework="net452" />
  <package id="ExcelDataReader.DataSet" version="3.3.0" targetFramework="net452" />
  <package id="ExtentReports" version="3.1.2" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net452" />
  <package id="log4net" version="2.0.10" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.4.0" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.4.0" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NLog" version="4.5.10" targetFramework="net452" />
  <package id="NLog.Config" version="4.5.10" targetFramework="net452" />
  <package id="NLog.Schema" version="4.5.10" targetFramework="net452" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net452" />
  <package id="Protractor" version="0.11.0" targetFramework="net452" />
  <package id="RazorEngine" version="3.9.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.11.2" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.11.2" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="81.0.4044.6900" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.11.1" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="SikuliSharp" version="1.5.0" targetFramework="net452" />
  <package id="SpecFlow" version="2.4.0" targetFramework="net452" />
  <package id="SpecFlow.MsTest" version="1.0.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net452" />
</packages>